@import "~include-media/dist/include-media";

:root {
  font-size: 60%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body,
#app {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@include media('>=tablet') {
  :root {
    font-size: 62.5%;
  }
}
