@import "mixins";
@import "colors";
@import "fonts";

:root {
  font-size: 60%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  background-color: $bodyBg;
}

body,
input,
textarea,
button {
  font-family: $roboto;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@include media('>=tablet') {
  :root {
    font-size: 62.5%;
  }
}
